html {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: black;
  padding: 1rem;
  border: 1px;
  border-color: black;
}

nav li {
  margin: 0.5rem 0;
}

nav ul {
  color: white;
  list-style: none;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    margin: 0 1rem;
  }
}
